@media screen and ( max-width: 767px)

    .title-2
        font-size: 34px
        margin-bottom: 20px

    .navigation
        position: fixed
        width: 100%
        min-height: 50px
        z-index: 50
        padding-top: 10px
        border-bottom: 1px solid white
        background-color: rgba(255, 255, 255, 0.5)
        &-list
            position: fixed
            top: 0
            left: -100%
            z-index: 2
            flex-direction: column
            justify-content: center
            width: 80%
            height: 100vh
            padding: 20px 15px
            margin: 0
            background-color: rgba(255, 255, 255, .9)
            transition: 0.5s all
            &-active
                left: 0
        &-item
            flex-grow: 1
            width: 100%
        li:nth-child(4), li:nth-child(5)
            display: block
        &-link
            display: block
            width: 100%
            height: 100%
            text-align: center
            font-size: 24px
            padding: 0
            margin: 0
        .logo
            order: 1
        .phone
            order: 2

        .hamburger
            order: 3
            display: block
            width: 46px
            height: 38px
            padding: 10px
            span
                display: block
                height: 3px
                width: 100%
                background-color: #E8C300
                margin-bottom: 3px
                transition: 0.5s all
            &-active
                span
                    margin-bottom: -3px
                    &:nth-child(1)
                        transform: translateY(3px) rotate(-45deg)
                    &:nth-child(2)
                        display: none
                    &:nth-child(3)
                        transform: translateY(3px) rotate(45deg)
    /*Стили для Промо*/
    .promo, .about-us, .achievements, .portfolio, .team, .reviews, .order
        padding: 50px 20px 20px
        .container
            padding: 0

    .promo
        height: 100vh
        .container
            align-items: center
            text-align: center
            height: 100%
            justify-content: space-around

        .caption
            width: 100%
            span
                white-space: normal
        &-title
            width: 100%
            font-size: 40px
            line-height: 52px
            margin: 0

    /*Стили для О нас*/
    .about-us
        .content
            display: block
            &-img
                display: none

    .achievements
        padding-top: 20px
        .container
            flex-direction: column
            align-items: center

    .portfolio
        .gallery
            display: block
            &-item
                margin-bottom: 10px

            .details
                display: flex
                background-color: transparent
                color: #533738
                text-shadow: 0 0 8px #ffffff
        .title-2
            text-align: center
        .more
            font-weight: 400
            margin-top: 20px

    .team
        &-list
            display: block
            text-align: center

    .process
        padding-top: 50px
        &-item
            flex-direction: row
            width: 100%
            .caption
                margin-left: 10px
        &-item::before
            margin: auto auto auto 0

    .reviews
        .container
            grid-template-columns: 1fr 1fr
            gap: 20px 0
            justify-items: center
        &-img-list
            order: 1
            grid-column: span 2
        &-item
            order: 2
            grid-column: span 2
        .arrow-left
            order: 3
            justify-self: start
        .arrow-right
            order: 4
            justify-self: end

    .order
        .wide-container
            grid-template-columns: 1fr
            row-gap: 20px
            justify-items: center
        .title-2
            text-align: center
        .btn
            margin: 0 auto
        .form-wrap
            padding: 0
        .order-map
            max-width: 400px

    .footer-page
        .wide-container
            padding: 20px 10px
            flex-direction: column
        .phone
            order: 1
        .copyright
            order: 2
            margin: 10px
        .adress
            order: 3
            text-align: center
            margin: 0