@media screen and ( max-width: 767px)

    .subtitle
        font-size: 34px
        margin-bottom: 20px
    .page-header
        &__logo
            order: 1
        &__phone
            order: 2

    .navigation
        position: fixed
        width: 100%
        min-height: 50px
        z-index: 50
        padding-top: 10px
        border-bottom: 1px solid white
        background-color: rgba(255, 255, 255, 0.5)
        &__list
            position: fixed
            top: 0
            left: -100%
            z-index: 2
            flex-direction: column
            justify-content: center
            width: 80%
            height: 100vh
            padding: 20px 15px
            margin: 0
            background-color: rgba(255, 255, 255, .9)
            transition: 0.5s all
            &_active
                left: 0
        &__item
            flex-grow: 1
            width: 100%
            &:nth-child(4), &:nth-child(5)
                display: block
        &__link
            display: block
            width: 100%
            height: 100%
            text-align: center
            font-size: 24px
            padding: 0
            padding-top: 10px
            margin: 0
    .up-button_shown
        display: none
    .hamburger
        order: 3
        display: block
        width: 46px
        height: 38px
        padding: 10px
        &__item
            display: block
            height: 3px
            width: 100%
            background-color: #E8C300
            margin-bottom: 3px
            transition: 0.5s all
        &_active
            .hamburger__item
                margin-bottom: -3px
                &:nth-child(1)
                    transform: translateY(3px) rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(3px) rotate(45deg)
    /*Стили для Промо*/
    .promo, .about-us, .achievements, .portfolio, .team, .reviews, .order
        padding: 50px 20px 20px
        &__container
            padding: 0

    .promo
        height: 100vh
        &__container
            align-items: center
            text-align: center
            height: 100%
        .caption
            width: 100%
            &__item
                white-space: normal
        &__title
            width: 100%
            font-size: 40px
            line-height: 52px
            margin: auto 0 0
        &__btn
            margin-top: auto

    /*Стили для О нас*/
    .about-us
        .content
            display: block
            &__img
                display: none

    .achievements
        padding-top: 20px
        &__container
            flex-direction: column
            align-items: center
    //PORTFOLIO
    .portfolio
        &__subtitle
            text-align: center
    .gallery
        display: block
        &__item
            margin-bottom: 10px
    .details
        display: flex
        background-color: transparent
        color: #533738
        text-shadow: 0 0 8px #ffffff
    .more
        font-weight: 400
        margin-top: 20px
    //TEAM
    .team__list
        display: block
        text-align: center

    .process
        padding-top: 50px
        &__item
            flex-direction: row
            width: 100%
            &::before
                margin: auto auto auto 0
        &__caption
            margin-left: 10px
    //REVIEWS
    .reviews
        &__container
            grid-template-columns: 1fr 1fr
            gap: 20px 0
            justify-items: center
        &__author
            display: block
            text-align: end
        &__img-list
            order: 1
            grid-column: span 2
        &__item
            order: 2
            grid-column: span 2
    .btn-arrow
        &_left
            order: 3
            justify-self: start
        &_right
            order: 4
            justify-self: end
    //ORDER
    .order
        &__wide-container
            grid-template-columns: 1fr
            row-gap: 20px
            justify-items: center
            padding: 0
        &__subtitle
            text-align: center
        &__form
            padding: 0
        &__map
            max-width: 400px
    .btn_submit
        margin: 0 auto

    .footer-page
        &__wide-container
            padding: 20px 10px
            flex-direction: column
        &__phone
            order: 1
        &__copyright
            order: 2
            margin: 10px
        &__adress
            order: 3
            text-align: center
            margin: 0