*
    box-sizing: border-box
    margin: 0
    padding: 0


$f_sS: 16px
$f_sM: 18px
$f_sL: 20px
$f_sXL: 30px

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap')

@import "general"
@import "media"

